In [1]:
import pandas as pd
import numpy as np

In [2]:
basics = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz',
                 compression='gzip', sep='\t', low_memory=False)

In [3]:
basics.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
basics.keys()

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [6]:
basics.loc[50000,:]

tconst                    tt0050934
titleType                     movie
primaryTitle      Strange Affection
originalTitle             The Scamp
isAdult                           0
startYear                      1957
endYear                          \N
runtimeMinutes                   87
genres                  Crime,Drama
Name: 50000, dtype: object

In [7]:
#change type of columns to numeric
basics[["startYear", "endYear", "runtimeMinutes"]] = basics[["startYear", 
                                                     "endYear", 
                                                     "runtimeMinutes"]].apply(pd.to_numeric, 
                                                                              errors='coerce')

In [21]:
max(basics.startYear)

2029.0

In [9]:
#load info bout writers and directors
crew = pd.read_csv('https://datasets.imdbws.com/title.crew.tsv.gz',
                 compression='gzip', sep='\t', low_memory=False)

In [10]:
crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N